/* *{background-color: rgb(35, 46, 79);} */
body {
    margin: 0;
    font-family: 'Jua', sans-serif;
}
a{
    text-decoration: none;
    color:rgb(85, 114, 234);
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(35, 46, 79);
    padding: 8px 12px;
    
}
.navbar_logo{
    font-size: 30px;
    color: rgb(85, 114, 234);
    font-family: 'Gugi', cursive;
}

.navbar_logo i {
    color: rgb(234, 240, 86);
}

.navbar_menu {
    display: flex;
    list-style: none;
    padding-left: 0;

}
.navbar_menu li {
    padding: 8px 12px;
    font-size: 30px;
}
.navbar_menu span {
    color: thistle;
}
.navbar_menu li:hover {
    background-color: rgba(255, 255, 255, 0.103);
    border-radius: 4px;
    
}
/* 메뉴 아이콘 */
/* .navbar_icons{
    list-style: none;
    color: rgb(85, 114, 234);
    display: flex;
    padding-left: 0;
} */

.navbar_smallmenu {
    list-style: none;
    color: rgb(199, 199, 199);
    display: flex;
    padding-left: 0;
}

.navbar_smallmenu a {
    padding: 8px 12px;
    font-size: 15px;
}


.navbar_icons a{
    padding: 8px 12px;
}

.navbar_toogleBtn {
    display: none;
    position: absolute;
    right: 32px;
    font-size: 24px;
    color: rgb(85, 114, 234);
}



/* @media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
    }

    .navbar_menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

     .navbar_menu li {
        width: 100%;
        text-align: center;
    }

    .navbar_icons {
        display: none;
        justify-content: center;
        width: 100%;
    }

    .navbar_toogleBtn {
        display: block;
    }

    .navbar_menu.active,
    .navbar_icons.active{
        display: flex;
    } 
} */
.bg-wrap {
    
    min-height: 2000px; 
    height: 100%;
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    overflow: auto; 

  }
  
  .parallax {
    background-image: url(../img/newyork.jpg);
    
    background-attachment: fixed;
  }
  
  
  
  #page-wrap {
    width: 400px;
    margin: 50px auto;
    padding: 30px;
    background: white;
    box-shadow: 0 0 20px black;
    font: 15px/2 Georgia, Serif;
  }
