
body {
    margin: 0;
    font-family: 'Gothic A1', sans-serif;
}
a{
    text-decoration: none;
    color:rgb(85, 114, 234);
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:silver
    padding 8px 12px;
}

.navbar_logo{
    font-size: 30px;
    color: rgb(85, 114, 234);
    font-family: 'Gugi', cursive;
}

.navbar_logo i {
    color: rgb(234, 240, 86);
}

.navbar_menu {
    display: flex;
    list-style: none;
    padding-left: 0;

}
.navbar_menu li {
    padding: 8px 12px;
    font-size: 25px;
}
.navbar_menu span {
    color: thistle;
}
.navbar_menu li:hover {
    background-color: rgba(0, 0, 0, 0.103);
    border-radius: 10px;
}


.navbar_smallmenu {
    list-style: none;
    color: rgb(199, 199, 199);
    display: flex;
    padding-left: 0;
}

.navbar_smallmenu a {
    padding: 8px 12px;
    font-size: 15px;
}


.navbar_icons a{
    padding: 8px 12px;
}

.navbar_toogleBtn {
    display: none;
    position: absolute;
    right: 32px;
    font-size: 24px;
    color: rgb(85, 114, 234);
}


  
  #page-wrap {
    width: 400px;
    margin: 50px auto;
    padding: 30px;
    background: white;
    box-shadow: 0 0 20px black;
    font: 15px/2 Georgia, Serif;
  }

  .introduce {
      margin: auto;
      width: 700px;
      border: 1px solid black;
      font-size: 1.5rem;
      height: 400px;
      background-color: white;
      margin-top: 250px;
      overflow: auto;
      border-radius: 10px;
  }