{% extends 'pro.html' %}
{% block content %}
    <thead>
        <link rel="stylesheet" href="{{ url_for('static', filename='int.css') }}">
        <link rel="stylesheet" href="./static/bootstrap.min.css">

    </thead>
<div class="intro">
        <div class="jumbotron">
            <div class="container">
            <h1>BYTE COIN!</h1>
            <p>저희가 기획한 BYTE COIN은 각화폐의 특징, 시세, 채굴방법과 거래사이트의 장단점을 보여드리며 고객의 투자를 돕고 회원간에 아이디어 공유를 할수있는 홈페이지를 제작하였습니다.
                특히 복잡한 내용없이 각 코인별 시세정보만을 차트와 표로 구현하여서 한눈에 볼수있게 만들었습니다. 처음접해본 유저들도 코인정보와 거래소정보를 보고 안전하고 쉽게 화폐 거래를 하고
                가입을 하고 후기나 정보들을 게시판에 게시하여 유저들의 지식과 궁금증을 기제할수있는 포켓같은 사이트 입니다.
            </p>
            </div>
        </div>

        <div class="container">
            <!-- Example row of columns -->
        <div class="row">
                <div class="col-md-4">
                    <h2>구성원</h2>
                    <p>일정 연령이 지나면 독서는 창의적인 추구로부터 마음을 너무 멀어지게 만든다. 너무 많이 읽고 자신의 뇌를 너무 적게 쓰는 사람은 누구나 게으른 사고 습관에 빠진다</p>
                </div>
                <div class="col-md-4">
                    <h2>목표</h2>
                    <p>일정 연령이 지나면 독서는 창의적인 추구로부터 마음을 너무 멀어지게 만든다. 너무 많이 읽고 자신의 뇌를 너무 적게 쓰는 사람은 누구나 게으른 사고 습관에 빠진다 </p>
                </div>
                <div class="col-md-4">
                    <h2>취업</h2>
                    <p>일정 연령이 지나면 독서는 창의적인 추구로부터 마음을 너무 멀어지게 만든다. 너무 많이 읽고 자신의 뇌를 너무 적게 쓰는 사람은 누구나 게으른 사고 습관에 빠진다</p>
                </div>
            </div>
        </div>
    </div>







{% endblock %}