<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='base_style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='nav.css') }}">
    <script src="{{ url_for('static',filename='nav.js')}}"></script>
    <link href="https://fonts.googleapis.com/css2?family=Gugi&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Byte Coin</title>
<!--  -->

</head>
<body>
    <nav >
        <div class="nav_all">
            <div class="navbar_logo">
                <i class="fab fa-bitcoin"></i>
                <a href="/" class="byte">Byte Coin</a> 
                {% if g.user.username == "admin" %}
                <ul class="navbar_smallmenu">
                    <a href="/auth/logout">{{ g.user.username}}(로그아웃)</a>
                    <a href="/manage">회원관리</a> 
                </ul>
                {% elif g.user %}
                <ul class="navbar_smallmenu">
                   <a href="/auth/logout">{{ g.user.username }}(로그아웃)</a>
                </ul>
                {% else %}
                <ul class="navbar_smallmenu">
                    <a href="/auth/login">로그인</a>
                    <a href="/auth/signup">회원가입</a> 
                </ul>

                {% endif %}

            </div> 
            <div class="navbar">
                <div class="navbar_menu">
                    <li><a href="/">코인시세</a></li>
                    <li><a href="/coinsite">코인</a></li>
                    <li><a href="/itemsite">거래사이트</a></li>
                    <li><a href="/question/list">게시판</a></li>
                </div>

            </div>
        </div>
    </nav>
    

    
{% block content %}
{% endblock %}

</body>
<footer>
    <div class="foot">
        내용 추가중
    </div>
</footer>
</html>