<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./lion.css">
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Gugi&display=swap" rel="stylesheet">
    <title>Byte Coin</title>
    <script src="https://kit.fontawesome.com/48c2f0e0c8.js" crossorigin="anonymous"></script>
    <script src="./bear.js" defer></script>
</head>
<body>
    <nav class="navbar">
        <div class="navbar_logo">
            <i class="fab fa-bitcoin"></i>
            <a href="">Byte Coin</a>

        </div>

        <div class="navbar_menu">
            <li><a href=""><span>코인</span>시세</a></li>
            <li><a href=""><span>코인</span>확인</a></li>
            <li><a href=""><span>코인</span>라고</a></li>
            <li><a href=""><span>코인</span>아웃</a></li>
        </div>

        <!-- 메뉴 아이콘 -->
        <!-- <ul class="navbar_icons">
            <a href="#"><i class="fas fa-sign-in-alt fa-2x"></i></a>
            <a href="#"><i class="fas fa-user-plus fa-2x"></i></a> 
            <a href="#"><i class="fas fa-sitemap fa-2x"></i></a> 
        </ul> -->
        <ul class="navbar_smallmenu">
            <a href="#">로그인</a>
            <a href="#">회원가입</a> 
            <a href="#">사이트</a> 
        </ul>


        <a href="#" class="navbar_toogleBtn">
            <i class="fas fa-bars"></i>
        </a>
    </nav>
</body>
</html